<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
<div class="auth-card">
    <h1>Регистрация</h1>

    <form th:action="@{/register}" th:object="${user}" method="post" class="auth-stack">
        <input type="text" th:field="*{username}" placeholder="Имя">
        <input type="email" th:field="*{email}" placeholder="Эл. почта">
        <input type="password" th:field="*{password}" placeholder="Пароль">

        <button type="submit" class="auth-primary-btn">Регистрация</button>
    </form>
</div>
</body>
</html>