<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Applications</title>
    <link rel="stylesheet" href="/css/list.css">
</head>

<body>
<h1>Заявки на помещения</h1>

<hr>

<div class="table-container">
    <table>

        <tr>
            <th>ID</th>
            <th>Пользователь</th>
            <th>Помещение</th>
            <th>Комментарий</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>

        <tr th:each="app : ${applications}">
            <td th:text="${app.id}"></td>
            <td th:text="${app.user.username}"></td>
            <td th:text="${app.officeSpace.number}"></td>
            <td th:text="${app.comment != null && !#strings.isEmpty(app.comment) ? app.comment : 'Нет комментария'}"></td>
            <td th:text="${app.status}"></td>

            <td>
                <form
                        th:if="${app.status.name() == 'PENDING'}"
                        th:action="@{'/admin/applications/' + ${app.id} + '/approve'}"
                        method="post">

                    <button type="submit">Одобрить</button>
                </form>

                <form
                        th:if="${app.status.name() == 'PENDING'}"
                        th:action="@{'/admin/applications/' + ${app.id} + '/reject'}"
                        method="post">

                    <button type="submit">Откланить</button>
                </form>

                <form
                        th:if="${app.officeSpace.status.name() == 'OCCUPIED'}"
                        th:action="@{/admin/offices/release/{id}(id=${app.officeSpace.id})}"
                        method="post">

                    <button type="submit">Освободить помещение</button>
                </form>
            </td>
        </tr>

    </table>
</div>

<div th:if="${success}">
    <span th:text="${success}"></span>
</div>

<div th:if="${error}">
    <span th:text="${error}"></span>
</div>


</body>
</html>