<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"

        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">

</head>

<body>

<h1>Профиль пользователя</h1>

<hr>

<h3>Информация о пользователе</h3>

<p>
    <b>Имя:</b>

    <span th:text="${user.username}"></span>
</p>

<p>
    <b>Эл. почта:</b>

    <span th:text="${user.email}"></span>
</p>

<p>
    <b>Роль:</b>

    <span th:text="${user.role}"></span>
</p>

<hr>

<h3>Навигация</h3>
<ul>

    <li>

        <a href="/floor-plan">
            Просмотреть план здания
        </a>

    </li>

    <li sec:authorize="hasRole('USER')">

        <a href="/applications/my">
            Мои заявки
        </a>

    </li>

    <li sec:authorize="hasRole('ADMIN')">

        <a href="/admin/dashboard">
            Инструментарий админа
        </a>

    </li>

    <li sec:authorize="hasRole('ADMIN')">

        <a href="/offices">
            Список помещений
        </a>

    </li>

</ul>

<hr>

<form method="post" action="/logout">

    <button type="submit">
        Выйти
    </button>

</form>

</body>
</html>