<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">

</head>

<body>

<div class="profile-wrapper">

    <div class="profile-card">

        <h1>Профиль пользователя</h1>

        <div class="dashboard-section">

            <h3>Информация о пользователе</h3>

            <div class="stats-grid">

                <div class="stat-card">
                    <p><b>Имя</b></p>
                    <span class="stat-value" th:text="${user.username}"></span>
                </div>

                <div class="stat-card">
                    <p><b>Эл. почта</b></p>
                    <span class="stat-value"th:text="${user.email}"></span>
                </div>

                <div class="stat-card">
                    <p><b>Роль</b></p>
                    <span class="stat-value" th:text="${user.role.name() == 'ADMIN' ? 'Администратор' : 'Пользователь'}"></span>
                </div>
            </div>
        </div>

        <div class="dashboard-section">

            <h3>Навигация</h3>

            <ul class="nav-list">
                <li><a href="/floor-plan">Схема помещений</a></li>
                <li sec:authorize="hasRole('USER')"><a href="/applications/my">Мои заявки</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a href="/admin/dashboard">Панель администратора</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a href="/offices">Список помещений</a></li>
            </ul>

        </div>

        <div class="logout-section">

            <form method="post" action="/logout">
                <button type="submit">Выйти</button>
            </form>

        </div>

    </div>

</div>

</body>
</html>